*{
	margin: 0%;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	display: block;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.images{
	display: flex;
	margin: auto;
	width: 900px;
	/* height: 500px; */
}

.btn1, .btn2, .btn3{
	color: white;
	background-color: red;
	height: 55px;
	width: 300px;
	font-size: 26px;
}

#Catleft{
	background-color: blue;
	height: 400px;
	width: 90%;
}

#Dogright{
	background-color: green;
	height: 400px;
	width: 10%;
	margin: 0;
}

#pic1 {
	display: block;
	margin: 16px;
	width: 70%;
}
#pic2 {
	display: none;
	margin: 16px;
	width: 70%;
}

